In [1]:
import pdfplumber
import pandas as pd

In [2]:
#Shoutout to TA Manyun Zou for helping me pull the data from the whole PDF and not the first page!
page_list = []
with pdfplumber.open("UpdatedTNbikecrashes.pdf") as pdf:
    for i in range(len(pdf.pages)):
        tables = pdf.pages[i].extract_table(table_settings={})
        page_list.append(tables)
page_dfs = []
for i in range(len(page_list)):
    page_df = pd.DataFrame(page_list[i][1:], columns=page_list[i][0])
    page_dfs.append(page_df)
crashes = pd.concat(page_dfs)

In [3]:
#None is actually county name + total, so going to rename to county and pull the totals out of this df
crashes.rename(columns={None :'County'}, inplace=True)

In [4]:
#I'll probably want to plot these as lines
#I think I want to try out Flourish
yeartotals=crashes[crashes['County'].str.contains('Total')]

In [5]:
#The county column no longer represents counties, so I should clean and rename it to be the Year
yeartotals['County']=yeartotals['County'].str.split(" ").str.get(1)

/var/folders/8p/jtfjt77s31b6lpddmdmjcpbc0000gn/T/ipykernel_70610/74844071.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yeartotals['County']=yeartotals['County'].str.split(" ").str.get(1)

In [6]:
yeartotals.rename(columns={'County':'Year'},inplace=True)

/var/folders/8p/jtfjt77s31b6lpddmdmjcpbc0000gn/T/ipykernel_70610/2830668891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yeartotals.rename(columns={'County':'Year'},inplace=True)

In [7]:
#I need to take the totals data out of the county data in case I want to do something with it
countycrashes = crashes[~crashes['County'].str.contains('Total')]

In [8]:
#In case I want to do more analysis with this, going to change columns from strings to integers
yeartotals['Total']=yeartotals['Total'].astype(int)

/var/folders/8p/jtfjt77s31b6lpddmdmjcpbc0000gn/T/ipykernel_70610/2487937331.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yeartotals['Total']=yeartotals['Total'].astype(int)

In [9]:
yeartotals['Fatal']=yeartotals['Fatal'].astype(int)

/var/folders/8p/jtfjt77s31b6lpddmdmjcpbc0000gn/T/ipykernel_70610/1725895816.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yeartotals['Fatal']=yeartotals['Fatal'].astype(int)

In [10]:
yeartotals['Injury']=yeartotals['Injury'].astype(int)

/var/folders/8p/jtfjt77s31b6lpddmdmjcpbc0000gn/T/ipykernel_70610/229759741.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yeartotals['Injury']=yeartotals['Injury'].astype(int)

In [11]:
yeartotals['PDO']=yeartotals['PDO'].astype(int)

/var/folders/8p/jtfjt77s31b6lpddmdmjcpbc0000gn/T/ipykernel_70610/242097355.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yeartotals['PDO']=yeartotals['PDO'].astype(int)

In [12]:
yeartotals['Year']=yeartotals['Year'].astype(int)

/var/folders/8p/jtfjt77s31b6lpddmdmjcpbc0000gn/T/ipykernel_70610/903034137.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yeartotals['Year']=yeartotals['Year'].astype(int)

In [13]:
#Which county saw the most crashes?
countycrashes['Total'].max()

'98'

In [14]:
#I think this got imported as a string, so going to change
countycrashes['Fatal']=countycrashes['Fatal'].astype(int)

/var/folders/8p/jtfjt77s31b6lpddmdmjcpbc0000gn/T/ipykernel_70610/2584386201.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countycrashes['Fatal']=countycrashes['Fatal'].astype(int)

In [15]:
countycrashes['Injury']=countycrashes['Injury'].astype(int)

/var/folders/8p/jtfjt77s31b6lpddmdmjcpbc0000gn/T/ipykernel_70610/581447954.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countycrashes['Injury']=countycrashes['Injury'].astype(int)

In [16]:
countycrashes['PDO']=countycrashes['PDO'].astype(int)

/var/folders/8p/jtfjt77s31b6lpddmdmjcpbc0000gn/T/ipykernel_70610/2487396903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countycrashes['PDO']=countycrashes['PDO'].astype(int)

In [17]:
countycrashes['Total']=countycrashes['Total'].astype(int)

/var/folders/8p/jtfjt77s31b6lpddmdmjcpbc0000gn/T/ipykernel_70610/616467551.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countycrashes['Total']=countycrashes['Total'].astype(int)

In [18]:
#Which county has the most crashes?
countycrashes['Total'].max()

108

In [19]:
countycrashes[countycrashes['Total']==108]

    County  Fatal  Injury  PDO  Total
18  Shelby      1      96   11    108
14  Shelby      0     100    8    108

In [20]:
#Which county has the most FATAL crashes?
countycrashes['Fatal'].max()

4

In [21]:
countycrashes[countycrashes['Fatal']==4]

    County  Fatal  Injury  PDO  Total
11  Shelby      4      63    9     76

In [22]:
#Could maybe something with just this county over time because Shelby has the most fatalities and the most total
shelby=countycrashes[countycrashes['County']=='Shelby']

In [23]:
#Need to replace County with Year - going to do that by adding Year column with range and dropping County column
shelby.insert(0,'Year',range(2010,2010+len(shelby)))
shelby

    Year  County  Fatal  Injury  PDO  Total
8   2010  Shelby      2      91    3     96
14  2011  Shelby      1      85    7     93
18  2012  Shelby      1      96   11    108
14  2013  Shelby      0     100    8    108
10  2014  Shelby      0      88    9     97
16  2015  Shelby      3      90    2     95
13  2016  Shelby      2      84   12     98
17  2017  Shelby      2      89    7     98
5   2018  Shelby      2      82    8     92
16  2019  Shelby      0      70   11     81
11  2020  Shelby      4      63    9     76
16  2021  Shelby      3      77    5     85
16  2022  Shelby      2      55    4     61
19  2023  Shelby      2      66   12     80
19  2024  Shelby      0      11    1     12

In [24]:
shelby_clean=shelby.drop(columns=['County'])

In [25]:
shelby_clean

    Year  Fatal  Injury  PDO  Total
8   2010      2      91    3     96
14  2011      1      85    7     93
18  2012      1      96   11    108
14  2013      0     100    8    108
10  2014      0      88    9     97
16  2015      3      90    2     95
13  2016      2      84   12     98
17  2017      2      89    7     98
5   2018      2      82    8     92
16  2019      0      70   11     81
11  2020      4      63    9     76
16  2021      3      77    5     85
16  2022      2      55    4     61
19  2023      2      66   12     80
19  2024      0      11    1     12

In [26]:
shelby_clean.to_csv('shelbycountybikecrashesclean.csv',index=False)

In [27]:
yeartotals

    Year  Fatal  Injury  PDO  Total
17  2010      4     343   23    370
0   2011      6     421   34    461
1   2012      8     422   38    468
0   2013      8     411   34    453
21  2014      6     356   45    407
0   2015     10     399   47    456
20  2016      9     359   50    418
1   2017      8     375   52    435
15  2018      8     345   25    378
23  2019      7     344   43    394
18  2020     12     318   41    371
25  2021      5     283   33    321
1   2022     14     324   36    374
1   2023     11     360   59    430
24  2024      1      62   10     73

In [28]:
yeartotals.to_csv('tnbikecrashtotalsclean.csv',index=False)